<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--    <h2>User Name</h2>-->
<!--    <p th:text="${allUserData.username}"></p>-->
<!--    <h2>Full Name</h2>-->
<!--    <p th:text="${allUserData.firstname }"></p>-->
<!--    <h2>Date of birth</h2>-->
<!--    <p th:text="${allUserData.dateOfBirth}"></p>-->
<!--    <h2>bio</h2>-->
<!--    <p th:text="${allUserData.bio}"></p>-->


<form action="/userprofile" method="post">
    <h1>Add a post</h1>
    <input type="text" name="body" id="body"/> <br/>
    <button type="submit">post</button>
</form>


<div>
    <h3>User Post</h3>
    <div  th:each="post:${allUserData.post}">
        <div >
            <h5  th:text="${'post' + post.id}"></h5>
            <h6  th:text="${post.createdAt}"></h6>
            <p  th:text="${post.body}"></p>
        </div>
    </div>
</div>



</body>
</html>